@{
    ViewBag.Title = "Confirm Email";
}


<div class="container">
    <div class="cart-empty">
        <h2>@ViewBag.Title.</h2>
        <p>
            <div id='loginForm'></div>
            Cám ơn vì đã xác nhận email, nhấn<a href="#" data-toggle="modal" data-target="#exampleModal"><span> </span>đây</a> để đăng nhập
        </p>
    </div>
</div>
