@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
}


<div class="container">
    <div class="cart-empty">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
        </hgroup>
        <p>
            Vui lòng kiểm tra email
        </p>
    </div>
</div>
	
