@{
    ViewBag.Title = "Xác nhận đổi mật khẩu";
}


<div class="cart-empty">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <p>
        <div id='loginForm'></div>
        Mật khẩu của bạn đã được đặt lại. Click<a href="#" data-toggle="modal" data-target="#exampleModal"><span> </span>ĐÂY</a> để đăng nhập
    </p>
</div>
