@using S3Train.Web.Models
@*@model HomeViewModel*@
<!--header-->
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="top-header-left">
                <ul class="support">
                    <li><a href="#"><label> </label></a></li>
                    <li><a href="#">24x7 live<span class="live"> support</span></a></li>
                </ul>
                <ul class="support">
                    <li class="van"><a href="#"><label> </label></a></li>
                    <li><a href="#">Free shipping <span class="live">on order over 20</span></a></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <!---->
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="bottom-header">
    <div class="container">
        <div class="header-bottom-left">
            <div class='menu' title='Menu'>
                <img src="~/Content/images/category.png" />
            </div>

            <div id='css-menu'>
                <div id='cssmenu'>
                </div>
            </div>
            <div class="logo">
                <a href="@Url.Action("Index", "Home")"><img src="~/Content/images/sach.png" width="250" height="70" alt=" " /></a>
            </div>
            <div class="search">
            @using (Html.BeginForm("ProductsSearchForAuthor", "ProductsSearchForName", FormMethod.Get))
            {
               @Html.TextBox("Name") 
               <input type="submit" style="color:white" value="Tìm Kiếm">
            }
            </div>
            <div class="clearfix"> </div>
        </div>
        @Html.Partial("_LoginPartial")
        
    </div>
</div>

<style>
    .logo {
        float: left;
        margin-left: 70px;
    }
</style>


